
body{
 background-color: white;
   max-width: 1200vh;
   margin: 0%;
   padding-left: 5px;
   padding-right: 5px;
}
   

header{
    display: flex;
    justify-content: space-between;
    font-size: smaller;
    padding: 5px 5px;
}   
#webblogo{
    max-width: 7%;
   
}

a{
 color: gray;
 text-decoration: none;
}
div.top.menu.container1{
   

}


nav#top-menu{
    max-width: 1200px;
    max-height: 40px;
    margin:5px auto;
    border-bottom: 1px solid darkgrey;

    display:flex;
    justify-content: space-between;
    position: absolute;
     right: 10px;
     left:10px ;
}
.top-menu-item{
    display: block;
    padding:10px 15px;
    color :#777; 
}
.top-menu-item:hover{
    background-color: rgb(231, 228, 228);
    border-radius: 5px;
}
nav.sub-menu{
   display: flex;
    flex-direction: column;

}
nav.sub-menu a{
padding: 5px 5px;
}

div#right-items{
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

a.top-menu-item3{
 width: 2px;
 padding: 4px;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  font-size: 10px;


}
a.top-menu-item1{
    border-right: 1px solid gray;
  padding-right: 5px;
  padding-bottom: 5px;
}




#vision{
 display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  align-items: center;
  padding: 50px;
  margin:0 auto;
  
}
.visionsub{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.visionsub h1{
    width: 400px;
    font-size: 2.5rem;
    margin-bottom:20px;
}
.visionsub p{
    font-size: 1rem;
    color:#666;
    margin-bottom: 30px;
}
.visionsub .button{
    width: 20%;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    justify-content: center;
    text-align: center;
}
.vision-img{
width: 50%;
margin-left: 100px;

}
#vision-img{
    width: 400px;
    height: 300px;
}

#wraper{
  padding: 10px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    text-align: center;


}

.item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
   margin: auto;
   box-sizing: border-box;


}
.item img{
    max-width: 50px;
    height: auto;
    flex: 1 1 calc(20%-20px);
    min-width: 150px;
}

#hero{
  
  text-decoration: none;
  text-align: center;
}
.herotitle h1{
    font-size: 40px;
    font-family: lucida;
    color: black;
    margin-top:60px;
    margin-left: 10px;

}
.herotitle p{
    width: 400px;
    text-align:start;
    font-size: 15px;
    color: #666;
    margin-left: 25%;
   
}

#img{
   max-width: 50%;
    margin-left: 20px;  
}
h2{
    font-size:20px;
    color: #666;
    margin-left: 25%;
    margin-top: 20px;
    max-width: 50%;
    text-align: center;
    justify-content: center;
}
div.hero-logo{

        justify-content: center;
        display: flex;
        text-align: center;
        margin-left: 60%;
}
#logo1{
    max-width: 5%;
    display: flex;
    flex-direction: column;
    margin-left:25%;
}
.hero-logo h1{
 
  margin-left: 25%;
  font-size: 10px;
  font-family: lucida;
  color: black;
 
    font-size: larger;
    margin-top: 0;
    margin-left: 0;
    padding: 0;
    direction: inherit;
    margin-bottom: 0;
  

}
.hero-logo p{
  width: 400px;
  text-align: center;
  font-size: 1px;
  color: #666;
  margin-left: 33%;
}
#online{
    padding: 10px;
    text-decoration: none;
    justify-content: center;

}
.onlinetitel h1{

    font-size: 40px;
    font-family: lucida;
    color: black;
    margin-top:60px;
    margin-left: 10px;
}
.onlinetitel p{
   
    text-align:start;
    font-size: 15px;
    color: #666;
   

}
 div.online-img{

    
}
#img2{
    max-width: 50%;
    margin-left: 20px; 
    justify-content: center;
    text-align: center;
}
 div.online-img h2{
    font-size: larger;
    margin-top: 0;
    margin-left: 0;

 }
 #logo2{
    max-width: 5%;
    display: flex;
    flex-direction: column;
    margin-left:25%;
 }
 div.online-logo{
    justify-content: center;
    display: flex;
    text-align: center;


 }

#freeplan{

}
.freeplantitle{

}


#table{
  border:10px;
  background-color: #c1c0c0;
  width: 300px;
  height: auto;
  justify-content: center;
  font-size: small;
  text-align: start;

}
 nav.table1{
    border-bottom: 1px solid darkgary;

 }